---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Calculadora de gastos mensuales</h1>

    <section>
      <Form />
    </section>
  </main>
</Layout>

<style>
  main {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 800px;
  }

</style>
